/*
selector que aplica sobre etiqueta h1
 */
h1{
    color: #ff0000;
}
/*
selector que aplica sobre etiqueta con id main-container
 */
#main-container{
    margin: 20px;
    border: 1px solid #cccccc;
    padding: 10px;
}
#main-container.hidden{
    display: none;
}
/*
selector que aplica sobre las etiquetas li dentro de la etiqueta con id main-container
 */
#main-container li{
    list-style: none;
}
/*
selector que aplica sobre etiquetas li con la clase enlace
 */
li.enlace{
    list-style: none;
    padding: 3px 10px;
    border: 1px solid #cccccc;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
li.enlace:hover{
    background-color: #cccccc;
    color: #ffffff;
}
