h1{
    color: #ff0000;
}

.fila {
    background: #666666;
    margin: 4px 0;
    list-style: none;
    width: 200px;
    padding: 3px 10px;
    font-size: 1.2em;
    color: #ffffff;
}

.columna {
    display: inline-block;
    margin: 0 5px;
}

