h1{
    color: #ff0000;
    width: 65%;
    margin: 20px auto;
}

header{
    border-bottom: 1px solid #666;
    height: 80px;
}
header nav ul li, #b_volver{
    list-style: none;
    display: inline-block;
    margin: 2px 4px;
    text-align: center;
    padding: 4px 10px;
    border: 1px solid #444;
}
header nav ul li.activo{
    background-color: #ccc;
}
header nav ul li a{
    text-decoration: none;
    color: #000;
}

main{
    margin: 20px;
}
.form-group{
    margin-bottom: 10px;
}
.form-group label{
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
}




#listado {
    width: 65%;
    margin: auto;
}
#listado ul {
    padding: 0;
}
#listado li {
    list-style: none;
    background-color: deepskyblue;
    padding: 6px 20px;
    font-family: sans-serif;
    margin: 4px 0;
}
#listado li h3{
    display: inline-block;
    width: 80%;
}
.botonera{
    text-align: center;
    display: inline-block;
    width: 20%;
 }
.botonera button{
    margin: 0 10px;
    border: 1px solid navy;
    border-radius: 3px;
    background-color: dodgerblue;
    height: 36px;
}
/*
.contenedorAmpliado es la clase que sirve para relacionar el contenedor
con el css y el js. Hago que esté oculto con display:none
 */
.contenedorAmpliado{
    display: none;
}
/*
y al añadirle la clase show, hago que cuando se hace click en el botón
se añada esta segunda clase y se muestre con display block
 */
.contenedorAmpliado.show{
    display: block;
}
.contenedorAmpliado img{
    width: 150px;
    margin: 10px;
}
